#information {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-l); */
    /* justify-content: start;
    align-items: start; */
}

.grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);;
	gap: var(--gap-m);
	margin-bottom: 2rem;
}

.white-border {
    padding: 1rem;
	border: 1px solid white;
	border-radius: var(--border-radius);
}

.center-text {
	text-align: center;
}

strong {
    font-size: 4rem;
    font-weight: 400;

    background: linear-gradient(to right, var(--purple), var(--orange)); 
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}