p {
    font-size: 1.5rem;
}

li.question-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    max-width: 600px;
    padding: var(--gap-s);
    text-align: center;
}

li.question-card .options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

li.question-card .option {
    display: flex;
    align-items: center;
}

li.option {
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
    z-index: 1;
}

li.option label.option {
    padding: var(--gap-s);
}

li.option::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: round(up, var(--border-width), 1px);
    border-radius: var(--border-radius);
    background: linear-gradient(to bottom right, var(--purple), var(--orange));
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

input[type="radio"] {
    all: unset;
}

li.option:has(input[type="radio"]:checked) {
    background: linear-gradient(to bottom right, var(--purple), var(--orange));
  }
  
label.option {
    font-size: 1.5rem;
}