:root {
  --gap-l: 60px;

  --orange: #c57a48;
  --purple: #3f22bf;
  --red: #f26c6c;
  --text-color: #ececec;

  --background-color: #272728;
}

@media (max-width: 800px) {
  :root {
    --gap-l: 30px;
  }
}
