:root {
    --gap-l: 6vmin;
    --gap-m: 4vmin;
    --gap-s: 2vmin;
    --gap-xs: 1vmin;

    --orange: #C57A48;
    --purple: #3F22BF;
    --text-color: #ECECEC; 
    --background-color: #272728;

    --border-radius: 1.5vmin;
    --border-width: 0.4vmin;

    --font-rem: calc(1.5vmin * 1);

    --header-height: 17vmin;
}
